@model WebScanner.Controllers.ScanItemBase

@{
    ViewBag.Title = "Results";
}

<h2>Berzerk Anti-Malware Web Scanner</h2>

<div>
    <h4>Scan Results</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MD5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MD5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmissionDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("New submission", "Index")
</p>
